{% extends "base.html" %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" 
    style="width: 100%;
            height: 90vh;
            background: url('images/hero-bg2.jpg') top center;
            background-size: cover;
            margin-bottom: -200px;">
    <div class="container">
        <h1>Focus on what matters</h1>
        <h2>We provide tools to help your physicians focus<br /> on what matters most... <b>their patients</b>.</h2>
        <div class="text-center"><a href="#about" class="btn-get-started scrollto">Get Started</a></div>
    </div>
</section><!-- End Hero -->


<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3>Population health simplified</h3>
                    <p>
                        At Health Focus our mission is to help health care providers maximize incentive opportunities by
                        providing a clear and complete picture of patient care.
                    </p>
                    <div class="text-center">
                        <a href="#about" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bi bi-card-checklist"></i>
                                <h4>Quality Measures</h4>
                                <p>Track evidence-based performance measures with data integrated from 100+ interfaces
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bi bi-receipt-cutoff"></i>
                                <h4>Cost of Care</h4>
                                <p>Monitor network expenditure against risk-adjusted allocation by payer and product</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bi bi-chevron-double-up"></i>
                                <h4>Risk Adjustment</h4>
                                <p>Capture diagnosis opportunities to align risk to reality.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-xl-5 col-lg-6 d-flex"
                style="background-image: url('images/application.jpg');background-repeat:no-repeat;background-attachment: inherit;background-position: center;">
                <!--<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>-->
                <!--<img src="images/t-q-bKOfm4KNt64-unsplash.jpg" class="img-fluid">-->
                <!---<br /><span style="text-align: right;">Photo by <a href="https://unsplash.com/@seemoris?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Caleb George</a> on <a href="https://unsplash.com/s/photos/detroit-fist?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></span>-->
            </div>

            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>About Health Focus</h3>
                <p>Health Focus is a population health platform that supports physician and physician hospital
                    organizations through clinical quality measures, identification of patient and population risk,
                    tracking and analysis of patient cost of care, and providing a data interface for engaging with
                    community resources to support care management programs.</p>

                <p>These initiatives are supported through 100+ data interfaces that capture information from
                    professional, facility and pharmacy claims; primary care physician EMRs; specialty surveillance
                    registries; specialty care EMRs; state-wide ADTs (admission, discharge and transfer notifications);
                    state-wide laboratories; and our own registry system.</p>

                <p>Health Focus has been serving physicians for over 10 years and has been continuously updated to
                    reflect current trends and requirements in the healthcare market. Our partner organizations help to
                    identify and prioritize the features that drive their success.</p>

                <p>Our continuous one-on-one engagement with each client helps to ensure that every opportunity, whether
                    unique or collectively benefiting all of our partners, is addressed and supported through the Health
                    Focus platform.</p>

            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= About Section ======= -->
<section id="focus" class="about">
    <div class="container">

        <div class="row">

            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>A Focus on Michigan</h3>
                <p>Health Focus was designed to meet the needs of physician organizations within Michigan. Our focus on
                    a singular market means that we understand how to define success.</p>

                <div class="icon-box">
                    <div class="icon"><i class="ri-health-book-line"></i></div>
                    <h4 class="title"><a href="#">Health Plan Integration</a></h4>
                    <p class="description">We work closely with insurance companies and other stakeholders across the
                        state to ensure accurate bi-directional data feeds. Health Focus analyzes claims, membership,
                        risk, diagnosis and treatment opportunities directly from insurers. Information gathered from a
                        patient's medical record can also be securely sent back to incentive programs to close
                        gaps-in-care.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="ri-flow-chart"></i></div>
                    <h4 class="title"><a href="https://mihin.org">Michigan Health Information Network</a></h4>
                    <p class="description">We are proud to support the work of the <b>Michigan Health Information
                            Network</b>. We actively engage in use cases and pilot activities on behalf of all our
                        member organizations. From state-wide ADTs and labs to the PPQC supplemental data exchange,
                        MiHIN is a critical partner in ensuring health information is safely and securely transferred to
                        necessary recipients.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="ri-community-line"></i></div>
                    <h4 class="title"><a href="">Local Communities</a></h4>
                    <p class="description">We live and work in Michigan. Supporting our local communities and
                        collaborating with community resources and initiatives helps to improve the lives of our friends
                        and families. We understand the nuances of our local healthcare market and work every day to
                        improve physician satisfaction and clinical outcomes.</p>
                </div>

            </div>

            <div class="col-xl-5 col-lg-6 d-flex"
                style="background-image: url('images/about2.jpg');background-repeat:no-repeat;background-attachment: inherit;background-position: center;">
                <!--<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>-->
                <!--<img src="images/about2.jpg" class="img-fluid">-->
                <!---<br /><span style="text-align: right;">Photo by <a href="https://unsplash.com/@seemoris?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Caleb George</a> on <a href="https://unsplash.com/s/photos/detroit-fist?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></span>-->
            </div>

        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Testimonials Section ======= -->
<section id="partners" class="testimonials">
    <div class="container">
        <div class="text-center">
            <h2>Our Clients & Partners</h2>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                {% for partner_name, partner_img, partner_url in PARTNERS %}
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="{{ partner_url }}">
                                    <div class="container text-center">
                                        <h3>{{ partner_name }}</h3><br />
                                        <img src="images/clients/{{ partner_img }}" height="100px">
                                    </div>
                            </div></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>Our job doesn't end once the interfaces are running and you're connected to our registry. We continue to
                support each organization in a close working relationship that responds to changing needs and unique
                opportunities. Our priorities are driven by the collective organizations that we serve.</p>
            <br />
            <p>Health Focus provides a robust population health platform. See below for some of our core features.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-data"></i></div>
                    <h4><a href="">Data Warehouse</a></h4>
                    <p>Capture, analyze, report and send data from 100+ different interfaces. We provide direct access
                        for organizational reporting.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-display"></i></div>
                    <h4><a href="">Health Focus Registry</a></h4>
                    <p>Securely interact with performance, financial, care management, risk adjustment and reporting
                        tools through a single platform that covers your entire patient population.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-person-check"></i></div>
                    <h4><a href="">Master Patient Index</a></h4>
                    <p>Our master patient index unifies patient records from across many different points of care. From
                        the physician office to laboratory to emergency room we collapse records into a single patient
                        view.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4><a href="">Measure Engine</a></h4>
                    <p>Our custom-built measure engine allows us to quickly respond to changing incentives and best
                        practice. We deploy measures that target your specific organizational priorities.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-chevron-double-up"></i></div>
                    <h4><a href="">Risk Adjustment</a></h4>
                    <p>Capture diagnosis opportunities to align risk to reality. Health Focus reviews historical
                        diagnoses from primary, specialty and other acute environments to ensure relevant conditions are
                        re-diagnosed each year. Our models review clinical and laboratory results to suggest possible
                        diagnoses that haven't been billed.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-receipt-cutoff"></i></div>
                    <h4><a href="">Financial Engine</a></h4>
                    <p>Health Focus cleans, condenses and categorizes insurance claims to highlight the cost of patient
                        care. Risk-adjusted allocation allows for continuous review of targets and categorical expense.
                        Review financial reports for all of your insurance products in one location and identify
                        leakage, high-cost facilities and other opportunities.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-person-bounding-box"></i></div>
                    <h4><a href="">Care Management</a></h4>
                    <p>Identify eligible and high-risk patients for care management services. Risk scores are captured
                        across health systems and calculated within our warehouse. Track social needs and internal
                        referrals to community resources. Health Focus provides real-time progress for PDCM and other
                        care management initiatives.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-arrow-left-right"></i></div>
                    <h4><a href="">Data Exchange</a></h4>
                    <p>Health Focus sends supplemental data files directly to insurance companies and through the
                        Michigan Health Information Network as a part of the PPQC program. We help ensure that every
                        partner understands every opportunity for every patient.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-people"></i></div>
                    <h4><a href="">PO Collaboration</a></h4>
                    <p>Physicians have helped shape Health Focus from the very beginning. Collaborate with us and our
                        member organizations to help drive new features and see market change as opportunity instead of
                        a burden. Our priorities are driven by the collective organizations that we serve.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= staff Section ======= -->
<section id="staff" class="staff">
    <div class="container">

        <div class="section-title">
            <h2>Our Team</h2>
            <p>The Health Focus team has decades of combined healthcare experience representing executive leadership, IT
                management, software development and analytical support from both PO and payer backgrounds. Time flies
                when you're having fun.</p>
        </div>

        <div class="row">

            {% for t in TEAM %}
                <div class="col-lg-6 bg-white">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="images/staff/{{ t.img }}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>{{ t.name }}</h4>
                            <span>{{ t.title }}</span>
                            <p>{{ t.description }}</p>
                            <div class="social">
                                {% for social_site, social_url, social_icon in t.social %}
                                <a href="{{ social_url }}" target="_blank"> <i
                                    class="{{ social_icon }}"></i> </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
</section><!-- End staff Section -->

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container">

        <div class="section-title">
            <h2>Health Focus Registry</h2>
            <p>The Health Focus registry provides insight into many facets of a patient's care. Monitor high-level
                quality and financial performance, identify specific patient sub-populations to help drive intervention
                and care campaigns, and engage with longitudinal data within a patient's point-of-care page. See below
                for images illustrating some of the many features that Health Focus provides.</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">
            {% for gallery_img in GALLERY %}
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="images/gallery/{{ gallery_img }}" class="galelry-lightbox">
                            <img src="images/gallery/{{ gallery_img }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section><!-- End Gallery Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">

    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>While face-to-face visits are a bit tough to navigate at the moment, we'll be excited to welcome clients
                back to our office soon. Health Focus is doing its part to help keep rates low. Know that we're still
                available and working hard whether we're in the office, at the kitchen table, or relegated to the guest
                bedroom on a make-shift desk without enough outlets...</p>
        </div>

    </div>

    <div class="container" style="padding-bottom: 30px;">

        <div class="row">

            <div class="col-lg-4 mt-5">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Address:</h4>
                        <p>{{ OFFICE_ADDRESS }}</p>
                    </div>
                </div>

                <div class="info">
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>{{ EMAIL }}</p>
                    </div>
                </div>

                <div class="info">
                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>{{ PHONE }}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 mt-5">
                <iframe style="border:0; width: 100%; height: 350px;"
                    src="https://maps.google.com/maps?q=8031%20Main%20Street,%20Suite%20201,%20Dexter,%20Michigan%2048130&t=&z=15&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" allowfullscreen></iframe>
            </div>



</section><!-- End Contact Section -->

{% endblock %}